@import url('https://fonts.googleapis.com/css?family=Poppins:20');
*{
    padding:0;
    margin: 0;
    list-style: none;
}
body{
    font-family:'Poppins',sans-serif ;
    background-image: url(images/donateb2.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background:rgba(0,0,0,0.4) ;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* .logo{
    width: 20%;
    padding-top: 2vh;
} */
.logotext{
    color: #e23c52;
    height: 50px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 600;
    text-decoration: none;
}

.clearfix{
    clear: both;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav  li {
    display: inline-block;
    margin: 0 10px;
    line-height: 60px;
}
nav a{ /* for navigation */
    font-size: 18px;
    color: white;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 5px;
    text-decoration: none;

}
nav a.active,
nav a:hover{
    border: 1px solid pink; 
    background: #e23c52;
    color: white;
    transition: 0.5s;
}
nav #bars{
    color: #e23c52;
    font-size: 30px;
    line-height: 60px;
    float: right;
    margin-right: 40px ;
    cursor:pointer ;
    display: none;
}
@media (max-width:1048px){
    label.bars{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size:17px; 
    }
}
@media (max-width:909px){
    nav #bars{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0 ;
        line-height: 30px;  
    }
    nav a{
        font-size: 20px;
    }
    nav a.active,nav a:hover{
        border: none;
        color:white;
        background: #e23c52;
    }
    nav ul.show{
        left: 0;
    }
}
/* middle section */
main{
    float: right;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 100px;
    padding-top: 30px;
}
form #commas {
    color: #e23c52;
    font-size: 30px;
    float: left;  
}
form #commasr {
    color: #e23c52;
    font-size: 30px;
    float: left; 
    margin-left:450px; ; 
}
/* form h1{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
form h2{
    color: white;
} */
.payment{
    justify-content: center;
}
footer{
    margin-top: 77vh;
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: 500;
}
footer a{
    color: white;
}
  